@tailwind base;
@tailwind components;
@tailwind utilities;
 
  html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    background-color: #2e223c;
    padding: 0 20rem;  
  }

  @layer utilities {  
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
  }
}
@keyframes dots {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
  100% {
    content: '.';
  }
}

.loading-dots::after {
  content: '.';
  animation: dots 1s infinite;
}