@tailwind base;
@tailwind components;
@tailwind utilities;
 
  html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    background-color: #2e223c;
    padding: 0 9rem;  
  }

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}