@tailwind base;
@tailwind components;
@tailwind utilities;
 
  html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    background-color: #2e223c;
    padding: 0 9rem;  
  }